@keyframes aboutParagraph {
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes aboutImg {
    to {
            opacity: 1;
            transform: none;
        }
}

@keyframes reactLogo {
    to {
        opacity: 1;
    }
}