form {
    display: grid;
    width: 30%;
    min-width: 300px;
    max-width: 600px;
    margin: auto;
    text-shadow: 1px 1px 6px rgb(61, 61, 61);
}

.success,
.error {
    width: 400px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.success {
    background: green;
}

.error {
    background: red;
}