header {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: url('../../../src/assets/img/img-accueil.jpg');
    position: relative;

    #header-nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0px 0px 0px 20px;
        background: $background2;
        position: fixed;
        transition: 0.2s;
        z-index: 1;

        @media screen and (min-width: 1800px) {
            max-width: 1800px;
        }

        @media screen and (max-width: $mobile-size) {
            padding: 10px;
        }

        .header-nav__logo img {
            @media screen and (max-width: $mobile-size) {
                width: 50px;
            }
        }

        .responsiveNav {
            @media screen and (max-width: $mobile-size) {
                width: 15%;
                height: 84px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;

                #div1,
                #div2,
                #div3 {
                    width: 70px;
                    
                    height: 10%;
                    border-radius: 20px;
                    background: $color6;
                    user-select: none;
                    z-index: 1;
                    transition: 0.5s;

                    &.active {
                        position: absolute;
                        width: 70px;
                    }

                    &.active:nth-child(1) {
                        transform: rotate(-45deg);
                    }

                    &.active:nth-child(2) {
                        opacity: 0;
                    }

                    &.active:nth-child(3) {
                        transform: rotate(45deg);
                    }

                    @media screen and (max-width: $mobile-size) {
                        width: 50px;
                    }
                }
            }
        }

        nav {
            display: flex;
            align-items: center;
            height: 90px;

            @media screen and (max-width: $mobile-size) {
                flex-direction: column;
                position: absolute;
                top: 84px;
                right: 0px;
                width: 100%;
                min-height: 500px;
                transform: translateX(800px);
            }

            .navContent {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 100%;
                background-color: rgb(0, 0, 0);

                @media screen and (max-width: $mobile-size) {
                    flex-direction: column;
                    padding-bottom: 10px;
                    transition: 1s;
                    height: 80%;
                }
            }

            ul {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                width: 100%;
                height: 100%;
                list-style: none;
                padding: 0px;

                @media screen and (max-width: $mobile-size) {
                    grid-template-columns: 1fr;
                    height: 80%;
                    margin: 0;
                }

                li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    min-width: 150px;
                    height: 100%;

                    &:hover {
                        background-color: lighten($color: #0e0d0d3a, $amount: 30)
                    }

                    @media screen and (max-width: $tablet-size) {
                        min-width: 110px;
                        border-right: 1px solid rgba(80, 80, 80, 0.301);

                        &:first-child {
                            border-left: 1px solid rgba(80, 80, 80, 0.301);
                        }
                    }

                    @media screen and (max-width: $mobile-size) {
                        height: 100%;
                    }

                    a {
                        font-size: 1rem;
                        color: $color1;
                        text-decoration: none;
                        transition: 0.2s;

                        @media screen and (max-width: $tablet-size) {
                            font-size: 0.8rem;
                        }

                        @media screen and (max-width: $mobile-size) {
                            font-size: 1.5rem;
                        }

                        &:hover {
                            transform: scale(1.2);
                            color: $color2;
                        }
                    }
                }

            }

            .cv {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0px 4%;
                border: 1px solid $color3;
                border-radius: 25px;
                transition: 0.2s;

                &:hover {
                    transform: scale(1.2);
                    background-color: $color4;
                    border: none;

                    @media screen and (max-width: $mobile-size) {
                        transform: none;
                    }

                    a {
                        color: $color5;
                    }
                }

                a {
                    font-weight: 400;
                    text-align: center;
                    color: $color6;
                    padding: 10px;
                }
            }
        }
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;

        div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            background-color: rgba(230, 213, 185, 0.637);
            padding: 40px;
            width: 80%;
        }

        h1 {
            @include h1;

            @media screen and (max-width: $mobile-size) {
                font-size: 3rem;
            }

            @media screen and (max-width: 500px) {
                font-size: 2.5rem;
            }
        }

        h2 {
            @include h2;

            @media screen and (max-width: $mobile-size) {
                font-size: 2rem;
            }

            @media screen and (max-width: 500px) {
                font-size: 1.5rem;
            }
        }

        span {
            @media screen and (max-width: 1100px) {
                display: none;
            }
        }

        i {
            font-size: 2rem;
            transform: translateY(10px);
            opacity: 0.7;
            animation: arrow 2s linear infinite;
        }
    }
}

@keyframes arrow {
    to {
        transform: translateY(40px);
        opacity: 0;
    }
}