section {
    padding: 20px;
}

#about {
    min-height: 30vh;
    overflow-x: hidden;

    h3 {
        @include h3;
    }

    .content {
        display: flex;
        justify-content: space-between;
        width: 75%;

      @media screen and (max-width: $tablet-size) {
                width: 90%;
            }

        p {
            width: 55%;
            text-align: justify;
            line-height: 2.5rem;
            font-size: 1.3rem;
            margin: 0;
            // opacity: 0;
            // transform: translateX(-500px);

          @media screen and (max-width: $tablet-size) {
                font-size: 1rem;
                display: flex;
                align-items: center;
            }
        }

        img {
            width: 250px;
            height: 250px;
            box-shadow: 5px 5px 10px 3px rgb(145, 143, 143);
            border-radius: 50px 0px;
            // opacity: 0;
            // transform: translateX(1000px);

            @media screen and (max-width: $tablet-size) {
                width: 200px;
                height: 200px;
            }
        }
    }
}

#formation {
    background: $background1;
    overflow-x: hidden;
    padding: 0 40px 0 0;

    h3 {
        @include h3;
    }

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px 0px 10px 30px;

        &>img {
            max-width: 300px;
            max-height: 300px;
            // transform: translateX(-500px);
            // opacity: 0;
            // transition: 1s;

            @media screen and (max-width: 1200px) {
                width: 200px;
                height: 200px;
            }
        }

        &__text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 70%;
            padding: 0px 0px 0px 20px;

            p {
                width: 100%;
                text-align: justify;
                line-height: 2.5rem;
                font-size: 1.3rem;
                margin: 0;

              @media screen and (max-width: $tablet-size) {
                        font-size: 1rem;
                    }
            }

            &__logos {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;

                @media screen and (max-width: 1400px) {
                    width: 80%;
                    justify-content: space-between;
                }

              @media screen and (max-width: $tablet-size) {
                    width: 100%;
                    justify-content: space-between;
                }

                img {
                    margin-right: 10px;

                    &:nth-child(1) {
                        width: 300px;
                        height: 168px;

                        @media screen and (max-width: 1200px) {
                            width: 200px;
                            height: 110px;
                        }
                    }

                    &:nth-child(2) {
                        width: 100px;
                        height: 80px;
                    }

                    &:nth-child(3) {
                        width: 125px;
                        height: 150px;
                        // opacity: 0;

                        @media screen and (max-width: 1200px) {
                            width: 80px;
                            height: 100px;
                        }
                    }
                }
            }
        }
    }
}