section {
    padding: 20px;
}

#about {
    min-height: 30vh;
    overflow-x: hidden;


    .content {
        display: flex;
        justify-content: space-between;
        width: 75%;

        @media screen and (max-width: $tablet-size) {
            width: 90%;
        }

        @media screen and (max-width: $mobile-size) {
            flex-direction: column;
            width: 100%;
            align-items: center;
        }

        p {
            width: 55%;
            text-align: justify;
            font-size: 1.3rem;
            line-height: 2.5rem;
            margin: 0;
            // opacity: 0;
            // transform: translateX(-500px);

            @media screen and (max-width: $tablet-size) {
                font-size: 1.1rem;
                display: flex;
                align-items: center;
            }

            @media screen and (max-width: $mobile-size) {
                width: 100%;
                padding-bottom: 10px;
            }

            @media screen and (max-width: $min-size) {
                width: 100%;
                font-size: 1rem;
                line-height: 2rem;
                order: 2;
                padding: 20px 0 0 0;
            }
        }

        img {
            width: 250px;
            height: 250px;
            box-shadow: 5px 5px 10px 3px rgb(145, 143, 143);
            border-radius: 50px 0px;
            // opacity: 0;
            // transform: translateX(1000px);

            @media screen and (max-width: $tablet-size) {
                width: 200px;
                height: 200px;
            }

            @media screen and (max-width: $mobile-size) {
                width: 180px;
                height: 180px;
                border-radius: 0px;
            }

            @media screen and (max-width: $min-size) {
                border-radius: 0px;
                order: 1;
            }
        }
    }
}

#formation {
    background: $background1;
    overflow-x: hidden;
    padding: 0 40px 0 0;

    @media screen and (max-width: $mobile-size) {
        padding: 20px;
    }

    @media screen and (max-width: $min-size) {
        padding: 10;
    }

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px 0px 10px 30px;

        @media screen and (max-width: $mobile-size) {
            justify-content: center;
            padding: 0;
        }

        &>img {
            max-width: 300px;
            max-height: 300px;
            // transform: translateX(-500px);
            // opacity: 0;
            // transition: 1s;

            @media screen and (max-width: 1200px) {
                width: 200px;
                height: 200px;
            }

            @media screen and (max-width: $mobile-size) {
                display: none;
            }
        }

        &__text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 70%;
            padding: 0px 0px 0px 20px;

            @media screen and (max-width: $mobile-size) {
                width: 100%;
                padding: 0;
            }

            @media screen and (max-width: $min-size) {
                align-items: center;
            }

            p {
                width: 100%;
                text-align: justify;
                line-height: 2.5rem;
                font-size: 1.3rem;
                margin: 0;

                @media screen and (max-width: $tablet-size) {
                    font-size: 1.2rem;
                }

                @media screen and (max-width: $mobile-size) {
                    width: 80%;
                    font-size: 1.2rem;
                    line-height: 2rem;
                }

                @media screen and (max-width: $min-size) {
                    width: 100%;
                    padding-bottom: 10px;
                }
            }

            &__logos {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;

                @media screen and (max-width: 1400px) {
                    width: 80%;
                    justify-content: space-between;
                }

                @media screen and (max-width: $tablet-size) {
                    width: 100%;
                    justify-content: space-between;
                }

                img {
                    object-fit: contain;

                    &:nth-child(1) {
                        width: 25%;
                    }

                    &:nth-child(2) {
                        width: 15%;
                    }

                    &:nth-child(3) {
                        width: 15%;
                        // opacity: 0;
                    }
                }
            }
        }
    }
}

#projects {

    .projects-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, 30%);
        gap: 40px;
        justify-content: space-between;
    }
}