@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;0,700;0,800;1,600;1,700;1,800&display=swap');

$font1: 'Roboto', sans-serif;
$font2: 'Playfair Display', serif;

$color1: rgb(233, 233, 233); // navBar, icones réseaux sociaux
$color2: rgb(218, 115, 47); // :hover =>  navBar, icones réseaux sociaux
$color3: rgb(133, 130, 130); // border bouton
$color4: rgba(237, 123, 16, 0.466); // :hover => bg du bouton télécharger le cv
$color5: rgba(249, 226, 13, 0.801); // :hover => color du bouton télécharger le cv
$color6: rgb(229, 212, 182); // color du bouton télécharger le cv


$background1: rgb(229, 212, 182);
$background2: rgb(0, 0, 0);
$background3: rgb(250, 240, 212);
$background4: rgb(250, 249, 249);
$background5: rgba(105, 105, 105, 0.418); // hover cover projectCard
$background6: rgba(87, 86, 86, 0.808); // modal

$pc-size: 1400px;
$tablet-size: 992px;
$mobile-size: 768px;
$min-size: 500px;