#contact {
    padding: 30px 50px 100px;

    @media screen and (max-width: $min-size) {
        padding: 30px 15px 50px;
    }

    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;


        @media screen and (max-width: $mobile-size) {
            flex-direction: column;
        }

        .form {
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @media screen and (max-width: $mobile-size) {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 90%;
                flex-direction: column;
            }

            @media screen and (max-width: $min-size) {
                width: 100%;
                flex-direction: column;
            }

            form {
                position: relative;
                display: grid;
                width: 100%;
                min-width: 300px;
                max-width: 650px;
                height: 500px;
                max-height: 80vh;
                padding: 30px;
                background: $background1;
                border: 1px dashed $color3;

                label {
                    display: flex;
                    align-items: flex-end;
                    padding: 5px 0px;
                }

                input[type=text],
                input[type=email],
                textarea {
                    height: 30px;
                    background: none;
                    border: 1px solid $color3;
                    font-size: 1rem;
                }

                textarea {
                    min-height: 120px;
                    max-height: 200px;
                    resize: vertical;
                }

                input[type=submit] {
                    width: 30%;
                    height: 30px;
                    margin-top: 20px;
                    padding: 0;
                    background: none;
                    border: 1px solid $color3;
                    border-radius: 15px;
                    transition: 0.2s;
                    cursor: pointer;

                    &:hover {
                        background: lighten($color: $background1, $amount: 8);
                    }
                }

                .punaise {
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    top: -10px;
                    left: 50%;
                }
            }

            .success,
            .error {
                width: 100%;
                min-width: 300px;
                max-width: 650px;
                margin: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 10px;
            }

            .success {
                background: green;
            }

            .error {
                background: red;
            }

        }

        .personnage {
            width: 400px;
            height: 533px;
            margin-left: 20px;

            @media screen and (max-width: $mobile-size) {
                display: none;
            }
        }

        .phone-number {
            @media screen and (min-width: $min-size) and (max-width: $mobile-size) {
                font-size: 1.3rem;
            }

            @media screen and (min-width: $mobile-size) {
                display: none;
            }
        }
    }
}