#formation {
    background: $background1;
    overflow-x: hidden;

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        @media screen and (max-width: $mobile-size) {
            justify-content: center;
            padding: 0;
        }

        &>img {
            max-width: 300px;
            max-height: 300px;


            @media screen and (max-width: 1200px) {
                width: 200px;
                height: 200px;
            }

            @media screen and (max-width: $tablet-size) {
                display: none;
            }
        }

        &__text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 70%;

            @media screen and (max-width: $tablet-size) {
                width: 100%;
            }

            @media screen and (max-width: $mobile-size) {
                width: 100%;
                padding: 0;
            }

            @media screen and (max-width: $min-size) {
                align-items: center;
            }

            p {
                width: 100%;
                text-align: justify;
                line-height: 2.5rem;
                font-size: 1.3rem;
                margin: 0;
                padding-bottom: 20px;

                @media screen and (max-width: $tablet-size) {
                    font-size: 1.2rem;
                }

                @media screen and (max-width: $mobile-size) {
                    width: 100%;
                    font-size: 1.2rem;
                    line-height: 2rem;
                }

                @media screen and (max-width: $min-size) {
                    width: 100%;
                    text-align: center;
                }
            }

            &__logos {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;

                @media screen and (max-width: 1400px) {
                    width: 100%;
                    justify-content: space-between;
                }

                @media screen and (max-width: $tablet-size) {
                    width: 100%;
                    justify-content: space-between;
                }

                img {
                    object-fit: contain;

                    &:nth-child(1) {
                        width: 30%;
                        max-width: 250px;
                    }

                    &:nth-child(2) {
                        width: 20%;
                        max-width: 130px;
                    }

                    &:nth-child(3) {
                        width: 20%;
                        max-width: 130px;
                        // opacity: 0;
                    }
                }
            }
        }
    }
}