#myProjects {

    padding: 30px 5px 50px;

    @media screen and (max-width: $tablet-size) {
        padding: 30px 15px 50px;
    }

    h3 {
        position: relative;
        margin-left: 20px;

        i {
            position: absolute;
            font-size: 1.5rem;
            left: 10px;

            @media screen and (min-width: $mobile-size) {
                display: none;
            }
        }

        .caret {
            i {
                position: absolute;
                font-size: 1.5rem;
                left: 70%;

                @media screen and (max-width: $min-size) {
                    left: 80%;
                }
            }
        }
    }

    .projects-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, 48%);
        gap: 2%;

        @media screen and (min-width: 1200px) and (max-width: 1400px) {
            grid-template-columns: repeat(auto-fit, 47%);
            gap: 80px 30px;
        }

        @media screen and (min-width: $mobile-size) and (max-width: 1200px) {
            grid-template-columns: repeat(auto-fit, 47%);
            gap: 80px 30px;
        }

        @media screen and (max-width: $mobile-size) {
            grid-template-columns: 1fr;
        }

        &.hide {
            display: none;
            height: 0px;
        }
    }
}