.projects-container__projectCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 10px 20px;
    box-shadow: 3px 5px 5px 4px rgba(218, 211, 211, 0.719);
    border-radius: 15px;
    background-color: $background4;

    @media screen and (min-width: $pc-size) {
        padding: 0px 50px 20px;
    }

    @media screen and (min-width: 1200px) and (max-width: $pc-size) {
        padding: 0px 30px 20px;
    }

    &__text {
        overflow: hidden;

        h4 {
            position: relative;
            display: flex;
            align-items: center;
            min-height: 120px;

            &:after {
                position: absolute;
                bottom: 0;
                content: "";
                width: 100%;
                height: 1px;
                background: rgb(160, 158, 158);
            }
        }

        p {
            height: 180px;
            font-size: 1rem;
            text-align: justify;
            line-height: 2rem;
            overflow: auto;
            padding: 0px 5px;

            @media screen and (max-width: 1300px) {
                height: 200px;
            }
            @media screen and (max-width: $tablet-size) {
                height: 220px;
                padding: 0px 8px;
            }

            @media screen and (max-width: $min-size) {
                font-size: 0.8rem;
            }
        }
    }

    &__cover {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        border-radius: 15px;

        &:before {
            position: absolute;
            content: "";
            top: 0px;
            left: 50%;
            transform: translateX(-50%);
            height: 100%;
            width: 100%;
            max-width: 500px;
            background-color: rgba(105, 105, 105, 0.418);
            z-index: 1;
            opacity: 0;
            transition: 0.2s;
            border-radius: 15px;
        }

        &:after {
            position: absolute;
            content: "\2b";
            top: 50%;
            transform: translateY(-50%);
            font-size: 4rem;
            z-index: 1;
            opacity: 0;
            transition: 0.2s;
            border-radius: 15px;
        }

        &:hover {

            &:before {
                opacity: 1;
                cursor: pointer;
            }

            &:after {
                opacity: 1;
                cursor: pointer;
            }
        }

        img {
            width: 100%;
            height: 100%;
            max-width: 500px;
            box-shadow: 2px 3px 3px 2px rgba(243, 240, 240, 0.719);
            // transition: 0.3s;
            border: 1px solid rgba(58, 57, 57, 0.096);
            border-radius: 15px;

            &:hover {
                box-shadow: 3px 4px 5px 5px rgb(160, 158, 158);
            }
        }

    }

    &__links {
        display: flex;
        justify-content: space-around;
        align-items: center;

        i {
            color: $color3;
            padding: 10px;
        }

        a {
            margin-top: 10px;
            border-radius: 20px;
            text-decoration: none;

        }

        .code-link:hover {
            animation: codeLink 1s ease-in-out alternate infinite;
        }
        .site-link:hover {
            animation: siteLink 1s ease-in-out alternate infinite;
        }

        @keyframes codeLink {
            to {
                transform: translate(-30%);
            }
        }

        @keyframes siteLink {
            to {
                transform: translate(30%);
            }
        }
    }
}